################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Api/.vs/AuthenticationApi/FileContentIndex/4126f17f-a0ba-4c3b-b3bb-69b9f6ead093.vsidx
